*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    
}


body{
    background-image: url("contact_us.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; 
}

header{
    top: auto;
    height: 100px;
    
}


.navbar{
    display: flex;
    padding: 20px;
    margin: 0px;
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
    background-image: url("navbar-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
}

.logo img{
    width: 5.25rem;
    color: #0F2C59;
    border-radius: 20%;
    margin-top: 0px; 
}


nav ul form {
    float: center;
}



nav ul li input[type=text]{
    width: 25rem;
    height: 2.55rem;
    border-radius: 2rem;
    border: none;
    color: #0F2C59;
    text-indent: 2%;
}

.search-icon{
    background-color: rgb(255, 255, 255);
    color: #0F2C59;
    padding: .62rem .62rem;
    float: left;
    margin-left: 2.55rem;
    margin-right: .2rem;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
}

.profile{
    background-color: transparent;
    border: none;
    color: white;
}

::placeholder{
    padding: .125rem;
}

nav{
    flex: 1;
    text-align: right;
    
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: .938rem;
    font-family: 'Segoe UI';

    
    
}

#wish :hover{
    color: rgb(246, 0, 0);
    transition: .2s;
    transform: scale(1.2);
}

#acc :hover{
    color: #0F2C59;
    transition: .2s;
    transform: scale(1.1);
}

#bag :hover {
    color: #0F2C59;
    transition: .2s;
    transform: scale(1.1);
}

#options :hover{
    color: #0F2C59;
}


#search-bar{
    transition: 0s;
    transform:scale();
}

a{
    text-decoration: none;
    color:#ffffff;
}

p{
    color: #0F2C59;
}

.container{
    max-width: 125rem;
    margin: auto;
    height: 62.5rem;
   
}

.row{
    
    align-items: center;
    flex-wrap: wrap;
    font-size: 90%;
    
}

.col-2{
    flex-basis: 28%;
    min-width: 18.75rem;
    color: #0F2C59;
    position: absolute;
    height: 31.903rem;
    
}

.col-2 img{
    max-width: 100%;
    flex: 50%;
    
}

nav ul li i{
    font-size: 1.25rem;
}

.navbar h1 {
    
    color: #113946;
    position: absolute;
    top: 6.25rem;
    white-space: pre;
    right: 50%;
    transform: translateX(50%);
    font-weight: bold;
    font-size: 300%;
    max-width: 100%;
    padding-top: 3%;
    
}

.filter-bar {
    margin: 20px 0;
    float: left;
}

.filter-bar label {
    margin-right: 10px;
    font-weight: bold;
}

.filter-bar select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}



h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #0F2C59;
    text-align: center;
    margin-top: 8rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#a-para1{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.572);
    text-align: left;
    margin: 2rem;
    padding-top: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .1rem;
}

.team{
    color: rgb(0, 0, 0);
    margin: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .1rem;
    padding-bottom: 1rem;
}
.layer{
    color: rgb(0, 0, 0);
}

#posts{
    color: rgba(0, 0, 0, 0.572);
    
}
.footer{
    font-family: 'Segoe UI';
    background-color: #113946;
    width: 100%;
}


.footer,p,li{
    color: white;
}

.container-2{
    display: flex;
    padding: 10px 30px;
    height: 210px;
    
}

.footer-col-1{
    position: relative;
    top: 0;
    left: 0;
    font-family: 'Segoe UI';

}

.footer-col-1 p{
    padding-top: 50px;
}

.playstore{
    position: relative;
    top: 0;
    left: 0;
    width: 10vw;
    padding-top: 5px;
}

.appstore{
    position: absolute;
    top: 77px;
    left:0;
    width: 10vw;
}

.footer-col-3{
    position: absolute;
    padding-left: 420px;
}

.footer-col-3 ul{
    list-style-type: none;
    padding-top: 10px;
    
}

.footer-col-4{
    padding-left: 300px;
    padding-top: 0;

    
}

.footer-col-4 ul{
    list-style-type: none;
}

.socials li{
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.last-line{
    padding: 30px;
    display: flex;
}

.contact{
    font-size: 15px ;
}

.contact a {
    color: white;
}

.rights{
    align-items: right;
    padding-left: 840px;

}

.vera{
    padding-left: 250px;
    mix-blend-mode:difference;
}

.vera h1{
    float: right;
    align-items: center;
    font-size: 58px;
    padding-left: 10px;
}

.vera i{
    font-size: 150px;
}

.rights{
    text-align: match-parent;
}

.loginpage{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    padding: -40px;
}


.popup img{
    width: auto;
    height: 10vh;
    position: absolute;
    margin-top: -100px;
    margin-left: -70px;
    position: absolute;
}

.popup{
    width: 50vh;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    top: 30%;
    left: 37%;
    transform: scale(.1);
    text-align: center;
    padding-top: 15vh;
    visibility: hidden;
    transition: transform 0.4s;
    position: fixed;
    z-index: 5;
}

.open-popup{
    visibility: visible;
    transform: scale(1);
}


.popup label{
    font-size: 20px;
}

.popup label{
    font-size: 20px;
    color: #113946;
}

.popup input{
    height: 5vh;
    width: 40vh;
    border-radius: 6px;
    border: solid transparent;
    position: absolute;
    margin-left: -20vh;
    margin-top: -2vh;
}

.popup button{
    height: 6vh;
    width: 15vh;
    font-size: medium;
    border-radius: 60px;
    border: transparent;
    cursor: pointer;
    position: absolute;
    margin-left: -7vh;
    margin-top: 2vh;
}

.popup h2{
    margin-top: 1vh;
    color: #113946;
}

.xmark{
    margin-top: -100px;
    padding-left: 350px;
    position: absolute;
    align-items: left;
    cursor: pointer;
    z-index: 6;
    color: #0F2C59;
}

.Contact_Us{
    align-items: center;
    text-align: justify;
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1.5%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 170%;
    border-radius: 10%;
    position: absolute;
    background: rgba(247, 245, 245, 0.7);
}

.Contact_Us p{
    color: #0F2C59;
}

.box{
  opacity: 1000;
  margin-top: -15%;
}

.insta{
    font-size: 35px;
}

.twit{
    font-size: 35px;
}

.face{
    font-size: 35px;
}

.social{
    text-align: center;
}

#name{
    width:100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

#email{
    width:100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

#subject{
    width:100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

#message{
    width:100%;
    padding: 5px 5px;
    margin: 8px 0;
}

.Contact_Us{
    margin-left: 25%;
    margin-bottom: 20%;
}
